h1{
    color: black;
    text-align: center;
    font-size: 70px;
    position: absolute;
    margin-bottom: 580px;
}
a{
    color: rgb(16, 206, 231);
}
img{
    position: absolute;
    top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
}